<div id="footer-content"><div class='wsite-elements wsite-footer'>
<div class="wsite-spacer" style="height:20px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25.583701689615%; padding:0 15px;">
					
						

<div id="209679209489409227"><div><div id="element-2d82e37a-2df0-4933-bae9-62fcacf4f5a4" data-platform-element-id="919380649307043755-1.0.0" class="pe-v17 platform-element-contents">
	

<h2 class="default-font default-transform desktop">Other Links</h2>
</div>
<div style="clear:both;"></div></div></div>

<div class="paragraph"><a href="/petersham-dentist.html">Petersham</a><br /><a href="/">Marrickville</a><br /><a href="/contact.html">Contact Us</a><br /><a href="/privacy.html">Privacy Policy</a><br /><a href="/covid-safety.html">COVID Safety Policy</a></div>


					
				</td>				<td class="wsite-multicol-col" style="width:38.007063003914%; padding:0 15px;">
					
						

<div id="204675894742523076"><div><div id="element-de73dbd2-71e1-4499-b637-a69a1a0e7d6e" data-platform-element-id="919380649307043755-1.0.0" class="pe-v17 platform-element-contents">
	

<h2 class="default-font default-transform desktop">Accepting All Major Funds</h2>
</div>
<div style="clear:both;"></div></div></div>

<div class="paragraph"><a href="https://www.servicesaustralia.gov.au/individuals/services/medicare/child-dental-benefits-schedule" target="_blank">Children's Medicare Scheme (CDBS)</a><br /><a href="https://insurance.qantas.com/" target="_blank">QANTAS Assure</a><br /><a href="https://www.ing.com.au/health-insurance" target="_blank">ING Health</a><br /><a href="https://www.nib.com.au/first-choice" target="_blank">NIB First Choice</a><br /><a href="https://www.hicaps.com.au" target="_blank">HICAPS</a><br /><a href="https://www.afterpay.com/en-AU" target="_blank">AfterPay</a></div>


					
				</td>				<td class="wsite-multicol-col" style="width:36.40923530647%; padding:0 15px;">
					
						

<div id="390576907776520273"><div><div id="element-7880b904-89d8-4fea-9e01-69d9a5b6841e" data-platform-element-id="919380649307043755-1.0.0" class="pe-v17 platform-element-contents">
	

<h2 class="default-font default-transform desktop">Affiliations</h2>
</div>
<div style="clear:both;"></div></div></div>

<div class="paragraph"><a href="https://www.ahpra.gov.au" target="_blank">AHPRA</a><br /><a href="https://epa.nsw.gov.au" target="_blank">EPA</a><br /><a href="https://www.dentalboard.gov.au/" target="_blank">Dental Board of NSW</a><br /><a href="https://www.acam.org.au" target="_blank">Australasian College of Aesthetic Medicine</a><br /><a href="https://www.amansw.com.au/doctors-for-refugees/" target="_blank">Doctors for Refugees</a><br /><a href="https://www.solarsmilesdentalcharity.com" target="_blank">Solar Smiles</a></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="paragraph" style="text-align:center;"><font color="#515151">&copy;&nbsp;Copyright Dental Residence 2023 | ABN 58 767 998 092 | 4/2 Albert St Marrickville 2204</font></div></div></div>
			</div>
		</div>
